$orange: #ff944d;
$pink: #ff6699;
$purple: #6610f2;
$teal: #00b3b3;

.app-wrapper {
  margin: 30px auto;
  .left-wrapper {
    padding: 0 25px;
    .keyword-form {
      .form-input {
        border: 1px solid #c2c2d6;
        border-radius: 10px;
        color: #000000;
        min-height: 50px;
      }
      .select-filter-wrapper {
        margin-top: 30px;
        label {
          padding: 0;
          color: #000000;
          .select-wrapper {
            height: 30px;
            border: 1px solid #c2c2d6;
          }
        }
      }
      .submit-button {
        background-color: $purple;
        color: #ffffff;
        text-decoration: none;
        font-weight: bold;
        border: none;
        padding: 13px 20px;
        width: 100%;
        border-radius: 10px;
        margin-top: 30px;
      }
    }

    .tile-wrapper {
      margin-top: 30px;
      display: flex;
      .tile-inner {
        position: relative;
        width: 100%;
        img {
          width: 100%;
        }
        .overlay-pink {
          color: #ffffff;
          font-weight: bold;
          background-color: $pink;
          position: absolute;
          bottom: 0;
          width: 100%;
          padding-top: 5px;
          padding-bottom: 5px;
          cursor: pointer;
        }
        .overlay-orange {
          color: #ffffff;
          font-weight: bold;
          background-color: $orange;
          position: absolute;
          bottom: 0;
          width: 100%;
          padding-top: 5px;
          padding-bottom: 5px;
          cursor: pointer;
        }
      }
      .tile-tags-likes {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .tile-tags {
          .tag-label {
            background-color: $teal;
            color: #ffffff;
            text-align: center;
            padding: 2px 15px;
            margin-right: 10px;
            margin-bottom: 10px;
            display: inline-block;
          }
        }
        .tile-likes {
          justify-content: flex-end;
        }
        .tile-favorites {
          margin-left: 30px;
        }
        strong {
          margin-right: 10px;
        }
      }
    }
  }
  .right-wrapper {
    border-left: 1px solid #c2c2d6;
    margin-top: 15px;
    padding: 0 25px;
    h4 {
      margin-bottom: 30px;
    }
    .external-link {
      margin-bottom: 15px;
      a {
        text-decoration: none;
        color: $purple;
        .saved-id-wrapper {
          margin-right: 15px;
          font-weight: bold;
        }
      }
    }
  }
}